page-signup-completed {
   text-align: center;
   p {
      text-align: center;
      color: #8e8e8e;
      margin-top: 0;
      margin-bottom: 3rem;
      margin-top: .5rem;
   }
   .icon {
      text-align: center;
      font-size: 15rem;
   }
}
