page-settings {
   .select-language.list-ios.list > .item-block {
      margin-bottom: .5rem;
   }
   .select-language {
       padding-top: 2rem;
   }
   .list-ios.settings-list {
      .item {
          border-top: 1px solid #cde2f1 !important;
          padding-top: .5rem;
          padding-bottom: .5rem;
          font-weight: bold;
          &:last-child {
            border-bottom: 1px solid #cde2f1 !important;
          }
          .item-inner {
            padding-right: 0;
            .label {
               font-size: 1.8rem;
            }
            .toggle {
               padding-right: 0;
            }
          }
      }
   }
}
