// http://ionicframework.com/docs/v2/theming/

@import "../theme/theme.sass";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.post-preview__cat.link {
  text-decoration: none;
  color: #999999;
  margin-left: 5px;
}

.post-preview__cat.link.__draft, ._urgent {
  text-decoration: none;
  font-weight: bold;
  color: #ff0000;
}

.build-number{
  position: fixed;
  top: 10px;
  left: 10px;
  color: #333;
  font-size: 8px;
}

.post-preview__branch_name{
  display: block;
  width: 100%;
  color: #333;
}


.dots-trigger-base {
    width: 3.5rem;
    height: 2.5rem;
    display: block;
    position: relative;
    right: 2rem;
    bottom: 1rem;
}

.dropdown-branch {
    border: 1px solid #979797 !important;
    padding: 0 1.5rem;
    border-radius: .5rem;
    margin: 0;
    margin-bottom: 1rem;
    width: 99%;
    font-weight: bold;
}




