page-comments {

}
.comments-list {
   margin-bottom: 2rem;
}
.comments-sublist {
    padding-top: 2rem;
    & > li {
       padding-left: 4rem;
       &:last-child {
          padding-bottom: 0;
          border-bottom: none;
       }
    }
}